#map-canvas{
     width:400px;
     height:300px;
/*    position: auto;*/
     /*left:15%;*/*/
}
  

#autocomplete{
    width: 400px;
    }

/*.table-wrapper-scroll-y{
      display: block;
      max-height: 500px; 
      overflow-y:auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }*/
