#map-canvas{
     width:500px;
     height:370px;
    }

#autocomplete{
    width: 450px;
    }

.table-wrapper-scroll-y{
      display: block;
      max-height: 500px; 
      overflow-y:auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }